/* ********** Font-Family ***********


font-family: Graphik-Medium, sans-serif;

font-family: Graphik-Regular, sans-serif;

font-family: Theinhardt-Lt, sans-serif;

font-family: TiempostHeadline-Semibold, sans-serif;


*/

@font-face {
    font-family: Graphik-Medium;
    src: url("../fonts/Graphik-Medium.ttf");
}

@font-face {
    font-family: Graphik-Regular;
    src: url("../fonts/Graphik-Regular.woff");
}

@font-face {
    font-family: Theinhardt-Lt;
    src: url("../fonts/Theinhardt-Lt.woff");
}

@font-face {
    font-family: TiempostHeadline-Semibold;
    src: url("../fonts/TiempostHeadline-Semibold.woff");
}


/* ********************* Htm *************** */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
    max-width: 1440px;
}

/* ********************** Class  ********************* */
/* ******* Font-Family ***** */

/* *** ??????????????????????????? wieso gibt es fehler mit sans-serif ????
* Schrift wird nicht richtig angezeigt wenn sans-serif dort seht, soll ja 
* aber eigentlich die Backup Schrift sein */

/* **** header button, */
.fontFamily--GraphikMedium {
    font-family: Graphik-Medium, ssans-serif;
}

/* **** header nav,  */
.fontFamily--GraphikerRegular {
    font-family: Graphik-Regular, ssans-serif;
}

/* **** main  */
.fontFamily--Theimhardt-Lt {
    font-family: Theinhardt-Lt, ssans-serif;
}

/* **** header p, */
.fontFamily--TiempostHeadlineSemibold {
    font-family: TiempostHeadline-Semibold, ssans-serif;
}

/* ********* Color ********* */

h1 {
    color: #2b2c2e#9Fa2a7 #27282a #848689 #3d3e41;
}

/* ******************** Img **************** */

img {
    width: 400px;
}

/* ********************** Header ******************** */
/* ********************** Header ******************** */
/* ********************** Header ******************** */

header>section {
    display: flex;
    justify-content:space-between;
    align-items: center;
    height: 5vh;
}

header>section>nav {
    margin-left: 5vw;
    width: 20vw;
}

header>section>nav>a{
    text-decoration: none;
    margin-left: 1vw;
}
header>section>article{
    width: 20vw;
    text-align: right;
    padding-right: 5vw;
    padding-top: 1vh;
padding-bottom: 1vh;
}

/* *************************************** Button größer ????? ********* */
/* *  evtl. mal als p veruschen oder ID */
header>section>button {
    background-color: #fff;
    text-align:right ;
}

header>section>p {
    width: 20vw;
    text-align: center;
    font-size: 1.6rem;
    font-weight: bold;               /* * Schrift in dick */
}




    /* ********************* main ************************** */
    /* ********************* main ************************** */
    /* ********************* main ************************** */





    /* ******************* Überschrift mit drei Figuren Bild ********** */

    .section__ueberschriftDreiFiguren{
        display: flex;
        flex-direction: column; /* * damit p und img untereinander */
        align-items: center;
    }

    .section__ueberschriftDreiFiguren>p{
        margin-top: 10vh;               /* * Abstand zum header */
        font-size: 2.3rem;

    }

.section__ueberschriftDreiFiguren>img{
   width: 100%;             /* * damit Bild ganze nicht gestaucht wird */
    height: 81vh;           /* ***** damit nav p und bild insgesammt 100vh sind und auf ganzen bildschirm zu sehen sind */
    max-width: 100%;        /* * damit Bild beim Browserfenster größe ziehen nicht verzehrt wird */
    object-fit: cover;      /* * Bild verzerrt sich nicht mehr */
}





/* ********************** Zwei Text mit Dollar ******************* */

.section__texteUeberDollar{
    display: flex;

    swidth: 100%;
    margin: 10vh auto 15vh auto;
}

.section__texteUeberDollar>p{
    margin-left: 5vw;
    width: 49vw;
    font-size: 1.3rem;
}

.section__texteUeberDollar>article{
    width: 10vw;
    margin-left: 5vw;
}

.section__texteUeberDollar>article>p:nth-of-type(1){
    font-size: 2.5rem;
}

.section__texteUeberDollar>article>p:nth-of-type(2){
    color: #9Fa2a7;
    font-size: 1rem;
}







/* *********************** Bild links Text rechts *************** */

.section__BildLinksTextRechts{
    display: flex;
flex-direction: row;}

.section__BildLinksTextRechts>img{
    width: 35vw;
    max-width: 40;          /* * ??????????? wieso max-width vergeben?? */
    object-fit: cover;          /* * damit es nicht verzerrt wird */
    
    /* object-position:center */ ; /* * Bild Ausschnitt zeigen  */
    margin-left: 5vw;
}

.section__BildLinksTextRechts>article{
    width: 40vw;
    margin-left: 1vw;
}

.section__BildLinksTextRechts>article>h2{
font-size: 4rem;
margin-bottom: 7vh;     /* * Abstand zur h3 bzw. zur nächsten Text Überschrift */
}

.section__BildLinksTextRechts>article>h3{
    font-size: 1.7rem;
    margin: 2vh 0 ;     /* * Abstand zu den Blck Texten */
}

.section__BildLinksTextRechts>article>p{
    font-size: 1.4rem;
}